body   {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial,
  Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}
.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}

.wd-contextMenu-item {
  padding-top: 2px;
  padding-bottom: 2px;
}
.context-hover {
  background-color: white;
  transition: background-color 0.3 ease;
}

.context-hover:hover {
  background-color: lightgray;
}

.wd-quiz-details-right {
  text-align: right;
}

.wd-quiz-details-left {
  text-align: left;
}

.correct-ans {
  color: green;
  font-style: italic;
  font-weight: bold;
}

.possible-answer {
  cursor: pointer;
  position: relative;
}

.possible-answer:hover {
  font-style: italic;
  background-color: lightgrey;
}

.green {
  color: green;
}

.wd-add-question-btn {
  max-width: 20%;
}